doctype html.no-js(lang='ko')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 123
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/demo.css')
    link(rel='stylesheet', href='stylesheets/component.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/body.css')
    script(src='javascripts/jquery-1.10.1.min.js')
    script(src='javascripts/modernizr.custom.js')
    script(src='javascripts/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/websocket.js')

  body
    block content
