doctype html.no-js(lang='ko')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 123
    link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/demo.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/bottom-area.css')
    script(src='javascripts/jquery-1.10.1.min.js')
    script(src='javascripts/modernizr.custom.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/websocket.js')

  body
    block content
